<% publish_to "/cars" do %>
  $('#allCars').prepend(" <%= j render(@car) %> ");
<% end %>

$.amaran({
    'theme'     :'awesome ok',
    'content'   :{
        title:'Внимание!',
        message:'тачка поехала',
        info:'',
        icon:'fa fa-check-square-o'
    },
    'position'  :'bottom right',
    'outEffect' :'slideBottom'
});