<div class="wrapper">
  <!-- Sidebar  -->

  <%= render 'layouts/left_navbar' %>
  <!-- Page Content  -->
  <div id="content" style=" width: 100%">

    <%= render 'layouts/navbar' %>
    <div class="container-fluid" style="margin-top: 30px">
      <div class="row">
        <div class="col-12">
          <div class="card" style="padding-left: 15px; padding-right: 15px">
            <div class="card-header">
              <h5>Добавить водителя</h5>
              <span style="color: rgba(255,255,255,.62); font-size: .875rem;">...</span>
            </div>
            <br>
            <%= form_tag create_car_path, method: :post, remote: true do %>

                <div class="form-row">
                  <div class="col">
                    <div class="input-group">
                      <div class="group" style="width: 100%; margin-top: 0">
                        <input type="text" name="name" required="required" autocomplete="off" spellcheck="false"/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Позывной</label>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <select id="tarif" name="rate">
                      <option value="Стандарт">Стандарт</option>
                      <option value="Эконом">Эконом</option>
                      <option value="Премиум">Премиум</option>
                    </select>
                  </div>
                </div>
                <button type="submit" class="btn dropzone-button">Добавить</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $('#tarif').select2({
        minimumResultsForSearch: -1,
        language: "ru-RU",
        width: '100%'
    });
</script>