<div style="max-height: 65vh; overflow-y: auto">
  <% results.each do |result| %>
      <div class="demo-solution demo-solution--flexbox addresses-scope" style="border-top: 1px solid hsla(0,0%,71%,.2); margin-bottom: 2px">

        <% if result[:icon] == 'yandex'%>
            <i class="fa fa-yahoo" style="color: red; padding-left: 1.115rem; padding-right: 1.115rem;"></i>
        <% elsif result[:icon] == 'world'%>
            <i class="fa fa-globe fa-lg" style="padding-left: 0.975rem"></i>
        <% elsif result[:icon] == 'world2'%>
            <i class="fa fa-ravelry fa-lg" style="color: mediumpurple; padding-left: 0.575rem"></i>
      <% else %>
            <!--<i class="material-icons" style="color: #b2b2b2">home</i>-->
            <!--<i class="fa fa-wordpress fa-flip-vertical" style="color: red; padding-left: 0.475rem"></i>-->
            <sup class="maxim" style="padding-left: 0.425rem; padding-top: 1rem">Maxim</sup>
        <% end %>
        <input name="longtitude" class="lon" type="hidden" value="<%= result[:longitude]%>">
        <input name="latitude" class="lat" type="hidden" value="<%= result[:latitude]%>">
        <span style="padding: 0.375rem 0.75rem;"><%=result[:address]%></span>
      </div>
  <% end %>
</div>


