
<div id="table-content" style="height: 75vh; overflow-y: auto;">

<table class="table table-sm no-border" id="parkingTable">
  <thead>
  <tr style="display: none">
    <th></th>
    <th></th>
    <th></th>

  </tr>
  </thead>
  <tbody>

  <% parkings.each do |park| %>
      <tr>
        <td><small><%= park.name%></small></td>
        <td><%=park.cars.count%></td>
        <td>

          <div class="sortable" id="<%=park.id%>">
            <% park.cars.order('position').each do|car| %>
                <div class="badge badge-warning car custom-dropdown" data-id="<%= car.id %>">
                  <p style="margin: 0"><%=car.id%></p>
                  <span>tes</span>
                  <div id="car<%= car.id %>" class="dropdown-content">
                    <a class="dropdown-inner" href="#">Отправить вне очереди</a>
                    <a class="dropdown-inner" href="#">Поменять парковку</a>
                    <a class="dropdown-inner" href="#">Показать на карте</a>
                  </div>
                </div>
            <% end %>
          </div>

        </td>
      </tr>
  <% end %>
  <td><small>Гараж</small></td>
  <td><%=cars.count%></td>
  <td id="allCars">
    <%cars.each do|car| %>
        <div class="badge badge-warning car car-garaj">
          <p style="margin: 0">123</p>
          <span>tes</span>
        </div>
    <% end %>
  </td>
  </tbody>
</table>
</div>



<script>
    $(document).ready( function () {

        $(".sortable").sortable({
            revert: true,
            start: function (event, ui) {
                ui.item.data('start_pos', ui.item.index());
                ui.placeholder.width(ui.item.width());
                ui.placeholder.css('visibility', 'visible');
            },
            stop: function(event, ui) {
                var start_pos = ui.item.data('start_pos');
                if (start_pos != ui.item.index()) {
                    var park_id = ui.item.parent().attr('id');
                    $.ajax({
                        url: "<%= change_order_path %>",
                        type: "GET",
                        data: { position: ui.item.index()+1, car_id: ui.item.data("id"), park_id: park_id}

                    })
                }
            }
        });

        $(".car").each(function() {
           $(this).on('contextmenu', function(e) {
               $(".dropdown-content").each(function () {
                  $(this).removeClass('show');
               });
               e.preventDefault();
               var id = 'car' + $(this).data("id");
               var row = $('#' + id);
               row.addClass("show");
               var width = row.width() - $(this).width()*1.77;
               row.css('margin-left',-width);
           })
        });

        $(window).on('click mouseup mousedown', function(e) {
            if (!e.target.matches('.dropdown-inner')) {
              $(".dropdown-content").each(function () {
                  $(this).removeClass('show');
              });
            }
        });

        $('#parkingTable').dataTable({
            autoWidth: false,
            pagingType: 'simple_numbers',
            scrollCollapse: true,
            /*            processing: true,*/
            responsive: false,
            "info": false,
            "ordering": false,
            "bPaginate": false,
            "bStateSave": true,
            "fnStateSave": function (oSettings, oData) {
                localStorage.setItem('offersDataTables', JSON.stringify(oData));
            },
            "fnStateLoad": function (oSettings) {
                return JSON.parse(localStorage.getItem('offersDataTables'));

            },

            "columnDefs": [{
                "targets": [],
                "orderable": false
            }],

            "language": {
                "sProcessing": "Подождите...",
                "sLengthMenu": "Показать _MENU_ записей",
                "sZeroRecords": "Записи отсутствуют.",
                "sEmptyTable": "В таблице отсутствуют данные",
                "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
                "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                "sInfoPostFix": "",
                "sSearch": "",
                "sUrl": "",
                "searchPlaceholder": "Поиск...",
                "sInfoThousands": ",",
                "sLoadingRecords": "Загрузка записей...",
                "oPaginate": {
                    "sFirst": "Первая",
                    "sLast": "Последняя",
                    "sNext": "Следующая",
                    "sPrevious": "Предыдущая"
                },
                "oAria": {
                    "sSortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sSortDescending": ": активировать для сортировки столбца по убыванию"
                }
            }

        });

        var el = $('#parkingTable_wrapper').children(".row:first-child");
            el.children(".col-sm-12:nth-child(1)").remove();
            el.children(".col-sm-12:nth-child(1)").removeClass('col-sm-12 col-md-6').addClass('col-md-12 table-no-padding');

        $('.dataTables_filter input').addClass('form-control');

        $('#table-content').mCustomScrollbar({
            axis: 'y',
            theme: 'minimal'
        });

    });

</script>

<%= subscribe_to "/cars" %>