<div id="map" style="height: 84.5vh"></div>

<script>
    $(document).ready(function() {

        var map;

        map = L.map('map', { zoomControl:false }).setView([48.047974, 37.964475], 14);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors for TaxiMaxim'
        }).addTo(map);

/*        map = L.map('map', {attributionControl: false});
        map.setView([48.047974, 37.964475], 13);
        L.control.attribution({prefix:''}).addAttribution('<a href="http://maps.sputnik.ru/">Спутник</a> | &copy; Ростелеком | &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>').addTo(map);
        L.tileLayer('http://tiles.maps.sputnik.ru/{z}/{x}/{y}.png', {
            maxZoom: 19
        }).addTo(map);*/

/*        map = L.map('map', { zoomControl:false }).setView([48.047974, 37.964475], 20);
            L.tileLayer('http://vec{s}.maps.yandex.net/tiles?l=map&v=4.55.2&z={z}&x={x}&y={y}&scale=2&lang=ru_RU', {
                subdomains: ['01', '02', '03', '04'],
                attribution: '<a http="yandex.ru" target="_blank">Яндекс</a>',
                reuseTiles: true,
                updateWhenIdle: false
            }
        ).addTo(map);*/


        var polygones_array = [];
        <% polygones.try(:each) do |polygone| %>
          var latlngs = <%=polygone.coordinates%>;
          var polygon = L.polygon(latlngs, {color: '<%=polygone.color%>'}).addTo(map);
          polygon.bindTooltip("<%=polygone.name%> <%=polygone.cost if polygone.cost%>",
              {permanent: true, direction:"center"}
          ).openTooltip();
          polygones_array.push(polygon);

        <% end %>

        map.on('moveend ', function() {
            var currentPos = map.getCenter();
            var lat = currentPos.lat;
            var lng = currentPos.lng;
            localStorage.setItem('lat', lat);
            localStorage.setItem('lng', lng);
        });

        map.on('zoomend', function() {
            zoom = map.getZoom();
            localStorage.setItem('zoom', zoom);
        });

        function drawMarkers() {
            var objects_group = new L.LayerGroup();
            <% objects.try(:each) do |marker| %>
            var greenIcon = L.icon({
                iconUrl: '<%=search_icon(marker.icon)%>',
                //shadowUrl: 'leaf-shadow.png',
                iconSize:     [30, 30], // size of the icon
                shadowSize:   [50, 64], // size of the shadow
                iconAnchor:   [15, 0], // point of the icon which will correspond to marker's location
                //shadowAnchor: [4, 62],  // the same for the shadow
                //popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
            });
            marker = L.marker([<%=marker.latitude%>, <%=marker.longitude%>], {icon: greenIcon})
                .bindPopup('<%=marker.address%>');
            marker.addTo(objects_group);
            <% end %>
            objects_group.addTo(map);
        }

        drawMarkers();

        map.on('contextmenu', function(e) {
            alert("Lat, Lon : " + e.latlng.lat + ", " + e.latlng.lng);

            popup = L.popup();
            popup.setLatLng(e.latlng);
            popup.setContent(
                '<%= form_tag create_map_geo_object_path, method: :post, remote: true do %>' +
                '<h6>Добавить адрес</h6>' +
                '<span>Выберите иконку</span>' +
                '<div class="cc-selector">' +
                  <% markers.try(:each) do |marker| %>
                    '<input id="<%=marker.name%>" type="radio" name="map_geo_object[icon]" value="<%=marker.name%>" /> ' +
                    '<label style="background-image:url(<%=marker.icon.url%>);" class="drinkcard-cc" for="<%=marker.name%>"></label> ' +
                  <% end %>
                '</div>' +
                '<div class="group" style="margin-top: 20px">' +
                '<input type="text" name="map_geo_object[address]" required="required" autocomplete="off" spellcheck="false"/>' +
                '<span class="highlight"></span>' +
                '<span class="bar"></span>' +
                '<label>Введите название</label>' +
                '</div>' +
                '<input name="map_geo_object[latitude]" type="hidden" value=' + e.latlng.lat + ' >' +
                '<input name="map_geo_object[longitude]" type="hidden" value=' + e.latlng.lng + ' >' +
                '<button type="submit" class="btn btn-login btn-block">Готово</button>' +
                '<% end %>');
            popup.openOn(map);
        });


        $(window).on('resize', function () {
            map.invalidateSize();
        })

        var search_group = new L.LayerGroup();
        var markers_array = [];

        $('#addresses').on('search', function() {
            $('.addresses-scope').each(function() {
                var me = $(this).children("span");
                var t = me.text();
                t = t.replace(/^[^,]+/, function(v) {
                    return "<b class='class1'>" + v + "</b>";
                });
                t = t.replace(', Донецкая область, Украина', '');
                t = t.replace(', Донецкая область, 86100-86180, Украина', '');
                me.html(t);
                $(this).on('click', function () {
                    console.log(me.text())
                    var place = $(this).children("span").text();
                    var lon = $(this).children(".lon").val();
                    var lat = $(this).children(".lat").val();
                    $('#addresses').addClass('d-none');
                    $('.search-button').toggleClass('d-none');
                    $('#term').val($('#term').data("prefix") + place);
                    map.setView(new L.LatLng(lat, lon), 16);
                    marker = new L.Marker([lat, lon]);
                    markers_array.push(marker);
                    marker.addTo(search_group);
                    if (markers_array.length > 1) {
                        search_group.removeLayer(markers_array[0]);
                        markers_array.shift();
                    }
                    search_group.addTo(map);

                    var result_array = [];
                    $.each(polygones_array, function(index, poly){

                        var inside = false;
                        var x = marker.getLatLng().lat, y = marker.getLatLng().lng;
                        for (var ii=0;ii<poly.getLatLngs().length;ii++){
                            var polyPoints = poly.getLatLngs()[ii];
                            for (var i = 0, j = polyPoints.length - 1; i < polyPoints.length; j = i++) {
                                var xi = polyPoints[i].lat, yi = polyPoints[i].lng;
                                var xj = polyPoints[j].lat, yj = polyPoints[j].lng;
                                var intersect = ((yi > y) != (yj > y))
                                    && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);
                                if (intersect) inside = !inside;
                            }
                        }

                        /*if (inside) console.log(poly.getTooltip()._content);*/
                        if (inside) {
                            result_array.push(poly.getTooltip()._content);
                            console.log(result_array[result_array.length-1])
                            /*$('#additional').val(result_array[result_array.length-1])*/
                            $('#additional').text(result_array[result_array.length-1])
                        }


                    });
                });

            });
        });

        $('#map').on('test', function() {
            /*$(".leaflet-popup-close-button")[0].click();*/
            /*map.panTo(new L.LatLng(localStorage.getItem('lat'), localStorage.getItem('lng')));*/
            map.panTo([
                localStorage.getItem('lat'),
                localStorage.getItem('lng')
            ]).setZoom(localStorage.getItem('zoom'));
        });

    });

</script>

<%= subscribe_to "/map" %>