$.amaran({
    'theme'     :'awesome ok',
    'content'   :{
        title:'Внимание!',
        message:'поменяли ордер',
        info:'',
        icon:'fa fa-check-square-o'
    },
    'position'  :'bottom right',
    'outEffect' :'slideBottom'
});

<% publish_to "/cars" do %>
  $('#<%=@parking.id%>').html(
    '  <% @parking.cars.order('position').each do|car| %>'+
    '    <div class="badge badge-warning car custom-dropdown" data-id="<%= car.id %>">'+
    '      <p style="margin: 0"><%=car.id%></p>'+
    '      <span>tes</span>'+
    '      <div id="car<%= car.id %>" class="dropdown-content">'+
    '        <a class="dropdown-inner" href="#">Отправить вне очереди</a>'+
    '        <a class="dropdown-inner" href="#">Поменять парковку</a>'+
    '        <a class="dropdown-inner" href="#">Показать на карте</a>'+
    '      </div>'+
    '    </div>'+
    '  <% end %>')

    $(".car").each(function() {
        $(this).on('contextmenu', function(e) {
            $(".dropdown-content").each(function () {
                $(this).removeClass('show');
            });
            e.preventDefault();
            var id = 'car' + $(this).data("id");
            var row = $('#' + id);
            row.addClass("show");
            var width = row.width() - $(this).width()*1.77;
            row.css('margin-left',-width);
        })
    });
<% end %>