<div class="wrapper">
  <!-- Sidebar  -->

  <%= render 'layouts/left_navbar' %>

  <!-- Page Content  -->
  <div id="content" style="overflow-y: scroll; width: 100%">

    <%= render 'layouts/navbar' %>

    <div class="container-fluid" style="margin-top: 50px">

      <div class="col-12">
        <div class="card" style="padding: 15px">

          <div class="card-header">
            <h5>Загрузка иконок</h5>
            <span style="color: rgba(255,255,255,.62); font-size: .875rem;">Загруженные сюда иконки будут отображаться на карте</span>
          </div>

          <br>


          <%= form_tag create_map_marker_path, method: :post, class: "dropzone", id: "media-dropzone" do %>
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
              <div class="dz-message" data-dz-message>
                <span>Перетащите файлы сюда для загрузки или </span>
                <div class="btn dropzone-button">Выбрать файлы</div>
              </div>
              <div class="fallback">
                <%= file_field_tag "icon", multiple: true%>
              </div>
          <% end %>

          <h5>Загруженные файлы:</h5>

          <div id="icons" class="d-flex flex-wrap">
            <%= render 'map_markers/markers_container', markers: @markers%>
          </div>

        </div>
      </div>


    </div>

  </div>
</div>

<script>

    Dropzone.autoDiscover = false;
    $("#media-dropzone").dropzone({
        init: function() {
            this.on("success", function(file, responseText) {
                $.ajax({
                    url: "<%= render_icons_path %>",
                    type: "GET"
                });
            });
        }
    });

</script>