<div class="wrapper">
  <!-- Sidebar  -->

  <%= render 'layouts/left_navbar' %>
  <!-- Page Content  -->
  <div id="content" style=" width: 100%">

    <%= render 'layouts/navbar' %>
    <div class="container-fluid" style="margin-top: -15px">
      <div class="row no-gutters">
      <div id="mapDiv" class="col">
        <div class="card">

          <%= form_tag search_path, method: :post do %>
              <%text_field_tag(:address, nil, class: "form-control search-form", id: "address") %>

              <div class="search-container" style="border: 1px solid transparent; overflow-x: hidden;">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div id="cityMenu" class="input-group-text" style="background: #fff; border-radius: 0; border: 0; cursor: pointer">
                      <i class="material-icons">menu</i>
                    </div>
                  </div>

                  <input type="text" class="form-control search-form" id="term" autocomplete="off"
                         placeholder="Введите адрес заказа..." data-prefix="" spellcheck="false"
                         style="border-radius: 0 !important;">
                  <div class="input-group-append">
                    <button id="closeButton" class="btn btn-default btn-outline-secondary search-button d-none" type="button" >
                      <i class="material-icons">close</i>
                    </button>
                    <button id="searchButton" class="btn btn-default btn-outline-secondary search-button" type="button"  disabled="disabled">
                      <i class="material-icons">search</i>
                    </button>
                  </div>
                </div>
                <div id="cityList" class="country-change d-none">
                  <div class="demo-solution demo-solution--flexbox" style="border-top: 1px solid hsla(0,0%,71%,.2); margin-bottom: 2px">
                    <i class="material-icons" style="color: #b2b2b2">location_on</i>
                    <span style="padding: 0.375rem 0.75rem;">Макеевка</span>
                  </div>
                  <div class="demo-solution demo-solution--flexbox" style="border-top: 1px solid hsla(0,0%,71%,.2); margin-bottom: 2px">
                    <i class="material-icons" style="color: #b2b2b2">location_on</i>
                    <span style="padding: 0.375rem 0.75rem;">Донецк</span>
                  </div>
                </div>
                <div id="addresses"></div>
              </div>

          <% end %>

          <div class="order-container">

            <div class="form-inline">
              <label class="mr-sm-2" for="inlinenameinput">Тариф:</label>
              <% if false %>
              <%= text_field_tag :minutes, nil, class: 'form-control form-control-sm mb-2 mr-sm-2 mb-sm-0',
                                 style: 'border: 1px solid #a9a9a9', id: 'inlinenameinput',
                                 placeholder: 'сейчас:' %>
              <% end %>

              <select id="tarif" name="order[tarif]">
                <option value="Любой">Любой</option>
                <option value="Стандарт">Стандарт</option>
                <option value="Эконом">Эконом</option>
                <option value="Премиум">Премиум</option>

              </select>

              <span id="additional"></span>

              <%= button_tag(type: "submit", class: "btn btn-sm dropzone-button mb-1 ml-1") do %>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  В онлайн
              <% end %>
              <%= button_tag(type: "submit", class: "btn btn-sm dropzone-button mb-1 ml-1") do %>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Из очереди
              <% end %>
            </div>
          </div>

          <div id="mapContainer">
            <%= render 'map', objects: @objects, markers: @markers, polygones: @polygones %>
          </div>
        </div>
      </div>
        <div id="panelDiv" class="col" style="padding-left: 0">
          <div class="card" style="height: 84.5vh; padding: 15px">

            <div class="card-header" style="margin-top: -35px">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="pill" href="#home">
                    <i class="fa fa-car"></i>
                    <span style="padding-left: 5px">Заказы</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#menu1">
                    <i class="fa fa-home fa-lg"></i>
                    <span style="padding-left: 5px">Адреса</span>
                  </a>
                </li>
              </ul>
            </div>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane container active" id="cars">
                <%= render 'cars_table', parkings: @parkings, cars: @cars %>
              </div>
              <div class="tab-pane container fade" id="menu1">
                <%= render 'addresses_table', objects: @objects%>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<script>

    $(document).ready(function() {

        var splitobj = Split(["#mapDiv","#panelDiv"], {
            elementStyle: function (dimension, size, gutterSize) {
                $(window).trigger('resize'); // Optional
                return {'flex-basis': 'calc(' + size + '% - ' + gutterSize + 'px)'}
            },
            gutterStyle: function (dimension, gutterSize) { return {'flex-basis':  gutterSize + 'px'} },
            sizes: [50, 50],
            minSize: 300,
            gutterSize: 15,
            cursor: 'col-resize'
        });

        $('#tarif').select2({
            minimumResultsForSearch: -1,
            language: "ru-RU",
            width: '30%'
        });

        var term = $('#term');

        function setSearch() {
            var term = $('#term');
            term.val(localStorage.getItem('city') + ', ');
            term.data("prefix", localStorage.getItem('city') + ', ');
        }

        setSearch();

        //term.data("prefix").length +

        term.on('keyup click', debounce(function () {
            var text = this.value;
            $('#searchButton').addClass('d-none');
            $('#closeButton').removeClass('d-none');
            $('#addresses').removeClass('d-none');
            if (text.length >= term.data("prefix").length + 4) {
                $.ajax({
                    type: "get",
                    url: "<%= search_path %>",
                    data: {term: text},
                    dataType: 'script'

                })
            }
        }, 600));

        function debounce(func, wait, immediate) {
            var timeout;
            return function () {
                var context = this, args = arguments;
                var later = function () {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        }

        $('#cityMenu').on('click', function () {
            $('#cityList').toggleClass('d-none');
        });

        $('#closeButton').on('click', function (e) {
            e.preventDefault();
            term.val(term.data("prefix")).focus();
            $('.search-button').toggleClass('d-none');
            $('#addresses').empty().addClass('d-none');
        });

        $('.demo-solution').each(function () {
            $(this).on('click', function () {
                var city = $(this).children("span").text();
                localStorage.setItem('city', city);
                setSearch();
                $('#cityList').toggleClass('d-none');
            });

        });

        $('#sidebar').addClass('active');

    });
</script>
