$('#mapContainer').html("<%= j render(:partial => 'dispatchers/map', :locals => {objects: @objects, markers: @markers, polygones: @polygones}) %>");
$('#map').trigger('test');

<% publish_to "/map" do %>
  $('#mapContainer').html("<%= j render(:partial => 'dispatchers/map', :locals => {objects: @objects, markers: @markers, polygones: @polygones}) %>");
  $('#map').trigger('test');
<% end %>
$.amaran({
    'theme'     :'awesome ok',
    'content'   :{
        title:'Внимание!',
        message:'<%=@object.address%> добавлена на карту, обновите страницу',
        info:'',
        icon:'fa fa-check-square-o'
    },
    'position'  :'bottom right',
    'outEffect' :'slideBottom'
});