<div class="login-page-admin">
  <!--  <nav class="navbar navbar-light bg-light" style="background: transparent">
      <a class="navbar-brand" href="#">Navbar</a>
    </nav>-->

  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="text-center col-sm-4 col-sm-offset-4 devise-container"
           style="background:white; min-width: 250px; max-width: 280px">
        <div class="devise-container-header red-panel">
          <strong style="font-stretch: ultra-expanded;   font-weight: 700;
              font-family: 'Open Sans', sans-serif;
              text-transform: uppercase;">Вход</strong>
        </div>
        <br>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1" style="background: transparent; border: 0">
                  <i class="fa fa-user fa-lg" aria-hidden="true" style="color: #495057;"></i>
                </span>
              </div>
              <div class="group" style="width: 80%">
                <%= f.text_field :username, required: true, html: { :autocomplete => "off" } %>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Логин</label>
              </div>
            </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1" style="background: transparent; border: 0">
                  <i class="fa fa-lock fa-lg" aria-hidden="true" style="color: #495057;"></i>
                </span>
              </div>
              <div class="group" style="width: 80%">
                <%= f.password_field :password, autocomplete: "off", required: true %>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Пароль</label>
              </div>
            </div>


            <% if false%>
                <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                <% end -%>
            <% end %>

            <div class="actions">
              <%= f.submit "Войти", class: "btn btn-block btn-login" %>
            </div>
            <br>
        <% end %>
        <% if false%>
            <%= render "devise/shared/links" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
