<%markers.each do |marker|%>
    <div class="image-container" style="position: relative">
      <img src="<%=marker.icon.url %>" height="75" width="75" style="margin: 5px 10px 10px">

      <%= link_to destroy_map_marker_path(id: marker.id), title: 'Удалить',
                  class: 'small-delete-button text-center', remote: true do %>
          <i class="fa fa-times" style="margin-top: 8px"></i>
      <% end %>

    </div>
<% end %>