/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 **= require_tree .
 **= require_self
  *= require jquery-ui
  *= require dropzone/dropzone
  *= require datatables.min
  *= require amaran.min
  *= require animate.min
  *= require select2
 */
@import "bootstrap";
@import "font-awesome";
@import "jquery.mCustomScrollbar";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

/*fix for google chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

body {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;

  font-weight: 300;
  line-height: 1.5em;

}
::-moz-focus-inner {border:0;}

*:focus {
  outline: none;
}

.toast {
  opacity: 1 !important;
  border: 0 !important;
}

.custom-select:focus,.custom-select:active {
  outline: none !important;
  box-shadow: none;
}

.wrapper {
  display: flex;
  align-items: stretch;
  background: #eeeeee;


  /*sdelal ne scrollable*/
  overflow: hidden;
  height: 100vh;
  backface-visibility: hidden;
  will-change: overflow;

  a[data-toggle="collapse"] {
    position: relative;
  }

  a[aria-expanded="false"]::after {
    top: 25px;
    position: absolute;
    right: 20px;

    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;

    transition: 150ms ease-in;

  }

  a[aria-expanded="true"]::after {
    top: 25px;
    position: absolute;
    right: 20px;

    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;

    transition: 150ms ease-in;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  #sidebar {

    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;

    overflow-y: auto;

    color: #3c4858;
    font-weight: 300;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);


    background: #fff;
    background:
            /* top, transparent red */
            linear-gradient(
                            rgba(255,255,255, 0.93),
                            rgba(255,255,255, 0.93)
            ),
            url(https://demos.creative-tim.com/material-dashboard-pro-angular2/assets/img/sidebar-1.jpg);

    background-size: cover;
    background-position: 50%;



    -webkit-transition-duration: 0.4s;
  }


  #sidebar .sidebar-header {

    margin-right: 13px;
    margin-left: 13px;
    margin-top: 5px;
    /*background: #1565c0;*/
    color: #a9afbbd1;
    font-weight: 300;

    font-size: 18px;
    white-space: nowrap;
    line-height: 30px;
    border-bottom: 1px solid hsla(0,0%,71%,.1);

    padding: 15px 0;
    text-align: center;
  }

  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }

  #sidebar ul li:first-child {
    margin-top: 25px;
  }

  #sidebar ul ul li:first-child {
    margin-top: 5px;
  }

  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    margin: 10px 17px 0;
    border-radius: 3px;
    padding-left: 10px;
    line-height: 30px;
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
    color: #3c4858;

  }



  #sidebar ul li a i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #a9afbb;
    color: #f44336;
  }

  #sidebar ul li a span {
    margin: 0;
/*    font-size: 14px;
    white-space: nowrap;*/

    font-family: Comfortaa,cursive,'Times New Roman',Times,serif;
    font-size: 0.9rem;
    font-weight: 700;
  }

  #sidebar ul li a:hover {

    background:rgba(0,0,0, 0.1);
    background-color: rgba(200,200,200,.2);
    color: #fff;

/*    background: rgba(0, 0, 0, 0.3);
    color: #3c4858;*/

  }

  #sidebar ul li.active > a {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);

  }

  #sidebar ul li.active > a i {
    color: #fff
  }

  #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
  }

  a {
    outline: 0;
  }

  .active {

  }

  /* Shrinking the sidebar from 250px to 80px and center aligining its content*/
  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;


  }

  /* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
  #sidebar .sidebar-header strong {
    display: none;
  }
  #sidebar.active .sidebar-header h3 {
    display: none;
  }
  #sidebar.active .sidebar-header strong {
    display: block;
  }

  #sidebar.active ul li:first-child {
    margin-top: 37px;
  }

  #sidebar.active ul li a {
    padding-top: 35px;
    padding-bottom: 13px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;

    margin-top: 13px;

  }

  #sidebar.active ul li a i {
/*    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 15px;
    line-height: 5px;*/
   margin-top: -25px !important;

  }

  #sidebar.active ul li a span {
    display: none;
  }

  #sidebar.active .dropdown-toggle::after {
    display: none;
  }

  /* Same dropdown links padding*/


  #sidebar.active ul ul a {
    padding: 5px !important;
  }



  /* Changing the arrow position to bottom center position,
     translateX(50%) works with right: 50%
     to accurately  center the arrow */
  #sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}

@media (max-width: 768px) {
  /* 80px and its content aligned to centre. Pushing it off the screen with the
     negative left margin
  */
  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }


  /* Reappearing the sidebar on toggle button click */
  #sidebar {
    margin-left: 0;

  }


  /* Toggling the sidebar header content,
     hide the big heading [h3] and showing the small heading [strong] and vice versa
  */
  #sidebar .sidebar-header strong {
    display: none;
  }
  #sidebar.active .sidebar-header h3 {
    display: none;
  }
  #sidebar.active .sidebar-header strong {
    display: block;
  }

  /* Downsize the navigation links font size */
  #sidebar.active ul li a {
    padding: 20px 10px;
    font-size: 0.85em;
  }

  #sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
  }



  /* Changing the arrow position to bottom center position,
    translateX(50%) works with right: 50%
    to accurately  center the arrow */
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}

.login-page-admin{
  background-color: #191919;
  background:
          /* top, transparent red */
          linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,0)),
            /* your image */
          url(https://images.wallpaperscraft.ru/image/chevrolet_corvette_stingray_c7_shevrole_korvet_stingrej_95549_1920x1080.jpg);
  color: #fff;
  background-position: top center;;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;

}

.container-table {
  display: table;
}

.red-panel{
  background-color: #f44336;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
}

.devise-container {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  border-radius: 6px;
  max-width: 300px;
  margin-top: 40px;
}

.devise-container-header{
  border-radius: 3px;

  padding: 15px;
  margin-top: -20px;

}

$bg-color: #424242;
$hl-color: #f44336;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 100%;



.group {
  position: relative;
  margin: 18px 0;


  // INPUTS // ============================== //
  textarea {
    resize: none;
  }

  input,
  textarea {
    background: none;
    color: black;
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: $width;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $muted-color;
    &:focus {
      outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
      top: -14px;
      font-size: 12px;
      color: $hl-color;
    }
    &:focus ~ .bar:before {
      width: $width;
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  label {
    color: $muted-color;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    /*top: 10px;*/
    top: 8px;
    transition: $trans-time ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: $width;
    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: $hl-color;
      transition: $trans-time ease all;
      left: 0%;
    }
  }
}

.btn.btn-login{
  background: transparent;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #f44336;
  outline: none;
}

.btn.btn-login:hover, .btn.btn-login:focus{
  box-shadow: none;
  outline: none;
}

.btn-toggle {
  background: #fff;
  height: 46px;
  width: 46px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  outline: 0;
}

.btn-toggle:hover {
  box-shadow: 0 14px 26px -12px rgba(153,153,153,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(153,153,153,.2);
}

.btn-toggle:focus, .btn-toggle:active {
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.card {
  border: 0;
  border-radius: 6px;
  margin-bottom: 30px;
  margin-top: 30px;


  color: #333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card-header {
  color: white;
  border-radius: 3px !important;
  border: 0;
  margin-top: -40px;
  background: linear-gradient(60deg,#ef5350,#e53935);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
}


.with-margin {
  margin-bottom: 30px;
  margin-top: 30px;
}

//radio styles

.cc-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.cc-selector label {
  width: 50px;
}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.drinkcard-cc{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:40px;height:40px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

///////////////////////////////////

.small-delete-button {
  background: #f44336;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  right: 2px;
  box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
}

.small-delete-button:hover {
  color: white;
  box-shadow: 0 14px 26px -12px rgba(244, 67, 54, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
}

.dropzone {
  border: none !important;
}

.dropzone-button {

/*  padding: 12px 30px;
  margin: .3125rem 1px;
  min-width: auto;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.42857143;
  text-decoration: none;
  text-transform: uppercase;*/

  border-radius: 30px;

  color: #fff;
  background-color: #f44336;
  border-color: #f44336;
  box-shadow: 0 2px 2px 0 rgba(244,67,54,.14), 0 3px 1px -2px rgba(244,67,54,.2), 0 1px 5px 0 rgba(244,67,54,.12);
}

.dropzone-button:hover {
  color: white;
  box-shadow: 0 14px 26px -12px rgba(244,67,54,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(244,67,54,.2);
}

.search-container {
  z-index: 9999;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  background: #ffffff;
  width: 59%;
  width: 97%;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
  border-radius: 4px;
  //border-radius: 4px;
}

.order-container {
  z-index: 1001;
  position: absolute;
  bottom: 2px;
  margin-left: 10px;
  padding: 10px;
  padding-bottom: 7px;
  background: #ffffff;
  width: 97%;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
  border-radius: 4px;
  //border-radius: 4px;

}

.search-form {
  border: 0;
}

.search-button {
  padding-bottom: 0;
  border: none;
  i {
    color: grey
  }
}

.search-button:hover, .search-button:active, .search-button:focus {
  background: transparent;
  i {
    //color: black
  }
}

.search-form:hover, .search-form:active, .search-form:focus {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}


.demo-problem, .demo-solution {
  cursor: pointer;
}

.demo-solution:hover {
  background: #f5f5f5;
}

.demo-solution--flexbox {
  display: flex;
  align-items: center;

  i {
    padding: 0.375rem 0.75rem;

  }

}

.maxim{
  color: red;
  font-weight: 500;
  font-family: Comfortaa,cursive,'Times New Roman',Times,serif;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: rgba(255,255,255,.2);

}

.nav-pills .nav-link {
  color: white;
  font-weight: 500;

}


#parkingTable {
  tbody > tr > td {
    vertical-align: middle;
  }

}

#table-content {
  margin-left: -15px !important;
  margin-right: -15px !important;

}

div.dataTables_wrapper div.dataTables_filter label {
  width: 100%;
}

.sortable> .car {
  float: left;
  display: list-item;
  list-style: none;
  cursor: pointer;
  margin: 1.5px
}



.gutter.gutter-horizontal:hover{
  cursor: col-resize;
}



.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.custom-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999999;

  padding-bottom: 5px;
  padding-top: 5px;
  min-width: 10rem;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
  margin-top: -5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.dropdown-content::after {
  content: '';
  position: absolute; /* Абсолютное позиционирование */
  right: 15px; top: -17px; /* Положение треугольника */
  border: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
}

/* Links inside the dropdown */
.dropdown-content a {

/*  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;*/

/*  padding-right: 1.5rem;
  padding-left: 1.5rem;*/
  width: auto;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  color: #333;
  font-weight: 400;
  text-decoration: none;
  font-size: .8525rem;
  border-radius: .125rem;
  margin: 0 .3125rem;
  transition: 150ms linear;
  padding: .625rem 1.25rem;
  overflow: hidden;
  line-height: 1.42857143;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
  background-color: #9c27b0;

/*  background-color: #f44336;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);*/
  color: #fff;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
