<% if false %>
<div class="container">
  <% flash.each do |type, msg| %>
      <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show">

        <button class="close" data-dismiss="alert">x</button>
      </div>
  <% end %>
</div>
    <% end %>

<script>
    <% flash.each do |type, msg| %>
      $.amaran({
          'theme'     :'awesome ok',
          'content'   :{
              title:'Успех!',
              message:'<%= msg %>',
              info:'',
              icon:'fa fa-check-square-o'
          },
          'position'  :'bottom right',
          'outEffect' :'slideBottom'
      });
    <% end %>
</script>