<nav id="sidebar">
  <div class="sidebar-header">
    <h3 class="maxim"><span style="color: black">Taxi</span><b>MAXIM</b></h3>
    <strong>BS</strong>
  </div>

  <% if current_user.role == "dispatcher" %>

  <ul class="list-unstyled components">
    <li class="<%= 'active' if current_page?(dispatcher_panel_path) %>">
      <%= link_to root_path do%>
        <i class="fa fa-home"></i>
        <span>Главная</span>
      <% end %>
    </li>
    <li class="<%= 'active' if current_page?(dispatcher_icons_path) %>">
      <%= link_to dispatcher_icons_path do%>
          <i class="fa fa-picture-o"></i>
        <span>Иконки</span>
      <% end %>
    </li>
  </ul>

  <% elsif current_user.role == "admin"%>
      <ul class="list-unstyled components">
        <li class="<%= 'active' if current_page?(admin_home_path) %>">
          <%= link_to root_path do%>
              <i class="fa fa-home"></i>
              <span>Главная</span>
          <% end %>
        </li>
      </ul>
  <% end %>

</nav>