<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: transparent !important;">
  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-toggle">
      <i id="toggleIcon" class="fa fa-align-left"></i>
    </button>
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>
        </li>
      </ul>
    </div>
  </div>
</nav>